<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComlabMonitoringSys.Properties.Settings.ComputerLabManagementMonitoringSystemConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=ComputerLabManagementMonitoringSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComlabMonitoringSys.Properties.Settings.CRUDConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=CRUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>